/*
1. Do nothing: YOU WILL BE PUNISHED ON THE GOOGLE SEARCH RANKINGS -> MEDIA QUERIES

2. Make a sepereate mobile site m.facebook.com (two much work)

3. Make it responsive (for all devices)
Using media queries breakpoint are a popular technique for delivering a tailored style
sheet (responsive web design) to desktops, laptops, tablets, and mobile phones.
*/
/* FOR RESPONSIVE DESIGN --> EITHER FROM DESKTOP TO MOBIEL OR VICE VERSA */
/* ------------------------ TAG SECTION ------------------------ */
/* KEY IN PROGRAMMING IS DRY = DONT REPEAT YOURSELF
HOW TO - priority:
1. Readbility
2. Modularity - how easy it is to reuse the code (and how easy it is
    to narrow down the problem in case)
3. Efficiency - fast code
4. Length
 */
/* broad tags --> broad styling */
body {
  font-family: 'Montserrat';
  text-align: center;
}

/* a typeface (schrift) have different styles (italic, Black) */
/* think about what the user should focus at
at the moment this h1 is competing with the brand name (and this is not good) */
/* multiple selectors */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  font-family: "Montserrat";
  color: #8f8f8f;
  /* access different weights for different implemented fonts!! */
  font-weight: 300;
}

/* ID SECTION  */
/* TITLE SECTION */
/* decrease the padding of container-flud in the title section  == combining selectors */
/* CALLED HIERACHICAL SELECTORS */
#title .container-fluid {
  /* it is easier to specify one tag and remove all unneccessary than else */
  padding-top: 3%;
  /* encompassing (umfassen) */
  text-align: left;
}

/* COMBINED SELECTORS (AND)
div.container-fluid {color: red;} -> all divs where the class is container-flud red
 */
#features {
  /* in order to make sure that it is not transparent at all ()
  So if it does sit on top of another element it will obscure (verdunkeln) it */
  position: relative;
  /* positioned elementer that come later in the html flow are on top
   even if they dont have a z-index;
In this case feature comes later than title image
   */
}

/* TESTIMONIAL SECTION */
/* hierachy -> id, classes, tags, inline css */
/* FOR BEST PRACTICE: TRY ONLE ONE CUSTOM CLASS FOR A TAG AND NO INLINE CSS */
#testimonials {
  /* to seperate sections from eachother */
  /* BACKGROUND COLOR GETS OVERRIDE */
  background-color: #ef8172;
}

/* press section - group with testimonial section */
#press {
  background-color: #ef8172;
  /* lifting the elements up  */
  padding-bottom: 3%;
  padding-top: 3%;
}

/* PRICES SECTION */
#pricing {
  padding: 100px;
}

/* FOOTER SECTION */
/* ------------------------ CLASS SECTION ------------------------ */
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

/* nav bar: higher level div --> selectors less specific  */
/* when designing web sites or appes --> minimize the number of lines that you can align
things to, --> design look more together */
.navbar {
  margin-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  /* light */
  font-weight: 300
}

/* HEADING SECTION */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0
}

/* TITLE SECTION? */
/* squezzing the content for reuse */
.container-fluid {
  padding: 7% 15%;
}

/* SECTIONS */
/* common patterns in the website */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* transfrom property applies a 2D or 3D transformation to an element. This property
allows: rotate, scale, move, skew (verzerren) etc. elements. */
.title-image {
  width: 60%;
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
}

/* FEATURES SECTION  */
.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* TESTIMONIAL SECTION FOR CLASS SELECTORS */
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* delimit only the carousel items to the buttons (controls) to slide back or forward */
/* PRESS SECTION  */
.press-logo {
  /* FOR THE VISUAL HIERACHY */
  width: 15%;
  margin: 20px 20px 50px;
}

/* PRICING SECTION */
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* ACCESS ALL pricing-column  */
.pricing-column {
  padding: 3% 2%
}

.title-column2 {
  position: relative;
}

.social-icon {
  margin: 20px 15px;
  text-decoration: none;
  color: #000;
  /* pointer is the hand (they are different cursor types) */
  cursor: pointer;
}

.social-icon:hover {
  font-size: 2rem;
}

/* MEDIA QUERIES: - viewport width */
/* for fine tuning and for really narrowing down on the exact design you want for mobile, tablet and laptop */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    transform: rotate(0);
    position: static;
  }
}